#projects {
  padding: 32px 20px;
  box-sizing: border-box;
}

.project-grid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  margin: 24px auto 0;
  box-sizing: border-box;
}